

@font-face {
	font-family: "Clear Sans";
	src: url("/font/ClearSans-Bold.ttf");
}

body {
	background: #f9e5e5;
	color: #3f4f5b;
	font-family: "Clear Sans";
	text-align: center
}

.board {
  background: #bbbda0;
  margin: 0 auto;
  padding: 8px;
  width: 472px;
  height: 472px;
}

h1 {
	font-size: 90px;
}


.cell {
	background-color: #b7c3c2;
	width: 100px;
	float: left;
	border: 1px solid black;
	border-radius: 10px;
	height: 100px;
	margin: 7px;
	font-size: 2em;
}

.cell div {
	margin-top: 28px;
}